div(class='container')
  footer(class='footer')
    a(href='/') Home
    a(href='https://gitlab.com/LKD70/asq-web/') Source
    div(class='float-right')
      p LKD70's Ark Server Query © 2018 LKDVPS
