head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/jquery.cookie.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/ark.js')
