extends layout

block content
  div(class="card border-danger")
    div(class="card-header text-white bg-danger")
      h1 Error - #{title}
    div(class="card-body bg-dark")
      p #{error}
      if docs
        hr
        h3 Documentation
        if docs == 'server'
          include docs/server
          p Perhaps check out the #[a(href="/list/") servers list page] to find a list of supported servers.
        else if docs == 'query'
          include docs/query
