extends layout

block content
  div(class="card border-danger")
    div(class="card-header text-white bg-danger")
      h1 Error - #{message}
    div(class="card-body bg-dark")
      h2=error.status
      pre=error.stack
