extends layout

block content
  h1= title
  br
  p Welcome to LKD70's Ark Server Query. This is a small utility to help you monitor Ark Survival Evolved servers.
  p This will work on both official and unofficial servers (By use of /query/). This can also be used as an API.
  br
  include docs/container
