extends layout

block content
  div(class="card")
    div(class="card-header  text-white bg-info")
      h3(class="card-title" style="display: inline-block;")
        a(href='../' style='color: white') Home
        = " > Server List"
      div(class="form-group float-right" style="display:flex")
        button(class="btn btn-dark float-right" style="margin-right: 5px;" onclick="window.location.href = window.location.href + '?json=true'") JSON
        select(class="form-control text-light bg-dark" id="filtertype" style="margin-right: 5px;" onchange="search()")
          option Name
          option Cluster
          option Map
          option Type
        input(class="form-control text-light bg-dark" style="margin-right: 5px;" type="text" id="search" onkeyup="search()" placeholder="Search..." title="Search by full server name")

    script.
      function search() {
        var filter, tr, td, i, selected, servercount = 0, count = 0;
        filter = document.getElementById("search").value.toUpperCase();
        tr = document.getElementById("listtable").getElementsByTagName("tr");
        selected = document.getElementById('filtertype').selectedIndex;
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[selected];
          if (td) {
            count ++;
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              servercount++;
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
        document.getElementById('count').innerHTML = `Server count: ${servercount}/${count}`
      }

    div(class="card-body text-white bg-dark")
      h5(id='count') Server count: #{Object.keys(servers).length}/#{Object.keys(servers).length}
      table(class='table table-dark table-responsive table-bordered table-hover' id="listtable")
        thead
          tr
            th ID
            th Name
            th Cluster
            th Map
            th Type
        tbody
         each server in Object.keys(servers)
          tr
            td=servers[server].id
            td
              a(href="../server/" + servers[server].id)=servers[server].pretty_name
            td=servers[server].cluster
            td=servers[server].map
            td=servers[server].type
