extends layout

block content
  div(class="card")
    div(class="card-header text-white bg-danger")
      h1 Error - #{title}
    div(class="card-body")
      p #{error}
      hr
      h3 Documentation
      include docs/query
