extends layout

block content
  div(class="card border-danger")
    div(class="card-header text-white bg-danger")
      h1 Error - #{title}
    div(class="card-body bg-dark")
      p #{error}
      hr
      h3 Documentation
      include docs/server
