extends layout

block content

  if auto
    meta(http-equiv="refresh" content=time)
    script.
      window.onload = () => {
        notify('#{additional.name}', #{playercount});
        document.title = '[#{playercount}] - #{additional.name}';

        if (typeof $.cookie('player-count') !== 'underfined') {
          if ($.cookie("player-count") !== 'null') {
            $("#notifbutton").addClass("btn btn-success float-right");
          } else {
            $("#notifbutton").addClass("btn btn-danger float-right");
          }
        } else {
          $("#notifbutton").addClass("btn btn-danger float-right");
        }
      };
  div(class="card bg-dark")
    div(class="card-header  text-white bg-info")
      h3(class="card-title" style="display: inline-block;")
        a(href='../../../../' style='color: white') Home
        = " > " + title
      button(class="btn btn-dark float-right" onclick="window.location.href = 'steam://connect/" + additional.query.address + "/" + additional.query.port_query + "'") Connect
      button(class="btn btn-dark float-right" style="margin-right: 5px;" onclick="battleMetrics('" + additional.map + "', '" + additional.name + "')") BattleMetrics
      button(class="btn btn-dark float-right" style="margin-right: 5px;" onclick="window.location.href = window.location.href + '?json=true'") JSON
      if auto
        button(style="margin-right: 5px;" id="notifbutton" onclick="enableNotify(" + playercount + ")" data-toggle="Turn desktop notifications on/off") Toggle notify
      else
        button(class="btn btn-dark float-right" style="margin-right: 5px;" onclick="window.location.href = window.location.href + '/auto/30'" data-toggle="Automatically update every 30 seconds") Auto update
      button(class="btn btn-dark float-right" onclick="window.location.reload()"  style="margin-right: 5px;") &#x21bb;
    div(class="card-body text-white bg-dark")
      h5(class="card-text") Players online: #{playercount}
      table(class='table table-dark table-bordered table-hover')
        thead
          tr
            th Name
            th Time Online
        tbody
          each player in players
            tr
              td= player.name
              td= player.time
      hr
      h4(class="card-text") Server Information:
      table(class='table table-dark table-bordered table-hover')
        thead
          tr
            th Subject
            th Value
        tbody
          tr
            td Full Name
            td #{additional.name}
          tr
            td Map
            td #{additional.map}
          tr
            td Max Players
            td #{additional.maxplayers}
          tr
            td IP Address
            td #{additional.query.address}
          tr
            td Query Port
            td #{additional.query.port_query}
          tr
            td Game
            td #{additional.raw.game}
          tr
            td Game Port
            td #{additional.raw.port}
          tr
            td Game Cluster
            td #{additional.raw.rules.ClusterId_s}
          tr
            td Game Day
            td #{additional.raw.rules.DayTime_s}
          tr
            td Char Downloads
            if additional.raw.rules.ALLOWDOWNLOADCHARS_i
              td ✔️
            else
              td ❌
          tr
            td Item Downloads
            if additional.raw.rules.ALLOWDOWNLOADITEMS_i === "1"
              td ✔️
            else
              td ❌
          tr
            td Official
            if additional.raw.rules.OFFICIALSERVER_i
              td ✔️
            else
              td ❌
          tr
            td Legacy
            if (additional.raw.rules.LEGACY_i === "1")
              td ✔️
            else
              td ❌
          tr
            td Connect URL
            td
              a steam://connect/#{additional.query.address}/#{additional.query.port_query}
          tr
            td Connect Parameter
            td
              a +connect #{additional.query.address}:#{additional.query.port_query}
