body {
  padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: scroll;
}

a {
  color: #00B7FF;
}

.footer {
	bottom: 0;
	width:100%;
	height: 60px;
	width: 60%;
  line-height: 60px;
	padding-left: 20px;
}

.footer a {
	padding-right: 15px;
}

.footer div {
	display: inline;
}

.footer p {
	display: inline;
}

.collapse.in {
  visibility: visible;
}

li p {
	display: inline;
	padding-left: 15px;
}
