:root {
	--dark: #202020;
}

body {
	background-color: #303030 !important;
	padding-top: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: scroll;
}

pre {
	color: #ddd !important;
}

.footer {
	bottom: 0;
	width:100%;
	height: 60px;
	width: 100%;
  line-height: 60px;
	padding-left: 20px;
}

.footer a {
	padding-right: 15px;
}

.footer div {
	display: inline;
}

.footer p {
	display: inline;
}

.form-control {
	border: 1px solid #252525 !important;
}

.form-control:focus {
	border-color: #008200 !important;
}

.collapse.in {
  visibility: visible;
}

li p {
	display: inline;
	padding-left: 15px;
}

.bg-dark a {
	color: #00CF00;
}

.bg-dark a:hover,a:focus,a:active {
	color: #008200;
}

select {
	-webkit-appearance:none;
	-moz-appearance:none;
  }

.form-group {
	margin-bottom: 0 !important;
}
