div(class='card mb-3 border-info')
  div(class="card-header text-white bg-info")
    h4(class='card-title' style="display: inline-block;") [GET] /list
    button(class="btn btn-dark float-right" type="button" data-toggle="collapse" data-target="#list" aria-expanded="true" aria-controls="list") Expand
  div(class="collapse" id="list")
    div(class="card-body text-white bg-dark")
      table(class='table')
        thead
          th Parameter
          th Example
          th Description
          th Optional
        tbody
            td ?json
            td ?json=true
            td return data in JSON format.
            td Yes
      h5 Examples
      table(class="table")
        tbody
          tr
            td
              a(href="/list") /list
            td An easy to query list of supported servers. (Note: Unsupported servers such as unofficial servers can still use /query/)
          tr
            td
              a(href="/list?json=true") /list?json=true
            td Returns an array of all supported servers in JSON format.
