div(class='card mb-3 border-info')
  div(class="card-header text-white bg-info")
    h4(class='card-title' style="display: inline-block;") [GET] /server/#{'<ID>'}/[auto]/[time]
    button(class="btn btn-dark float-right" type="button" data-toggle="collapse" data-target="#server" aria-expanded="true" aria-controls="server") Expand
  div(class="collapse" id="server")
    div(class="card-body text-white bg-dark")
      table(class='table')
        thead
          th Parameter
          th Example
          th Description
          th Optional
        tbody
          tr
            td ID
            td Rag190
            td='Server ID. You can find this at the '
              a(href="/list") list page
            td No
          tr
            td auto
            td auto
            td Automatically refreshes the page. Default time is 10 seconds. Custom time can be defined using the 'time' parameter.
            td Yes
          tr
            td time
            td 60
            td Custom time to refresh (in seconds). To be used with the 'auto' parameter.
            td Yes
          tr
            td ?json
            td ?json=true
            td return data in JSON format.
            td Yes
      h5 Examples
      table(class="table")
        tbody
          tr
            td
              a(href="/server/Rag190") /server/Rag190
            td Returns player information about server Ragnarok190.
          tr
            td
              a(href="/server/Rag190/auto") /server/Rag190/auto
            td returns server info for server Ragnarok190 and updates the information every 10 seconds.
          tr
            td
              a(href="/server/Rag190/auto/60") /server/Rag190/auto/60
            td returns server info for server Ragnarok190 and updates the information every 60 seconds.
          tr
            td
              a(href="/server/Rag190?json=true") /server/Rag190?json=true
            td returns server info for server Ragnarok190 in JSON format.
